@model Tuple<MvcUI.Models.Entities.Settings, MvcUI.Models.Entities.Contact>
<section class="footer-section">
    <div class="container">
        <div class="footer-logo text-center">
            <a href="@Url.Content("~/")"><img src="@Url.Content("~/Contents/img/" + Model.Item1.logo)" alt="" class="img-responsive" height="150"></a>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget about-widget">
                    <h2>About</h2>
                    <p>@Model.Item2.About_text</p>
                    <img src="@Url.Content("~/Contents/img/cards.png")" alt="">
                </div>
            </div>
            @Html.Action("_FootLinks", "Layout")

            @Html.Action("_LastBlog", "Layout")

            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget contact-widget">
                    <h2>Questions</h2>
                    <div class="con-info">
                        <span>C.</span>
                        <p>@Model.Item1.title</p>
                    </div>
                    <div class="con-info">
                        <span>B.</span>
                        <p>@Model.Item2.Address </p>
                    </div>
                    <div class="con-info">
                        <span>T.</span>
                        <p>@Model.Item2.Phone</p>
                    </div>
                    <div class="con-info">
                        <span>E.</span>
                        <p>@Model.Item2.Email</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="social-links-warp">
        <div class="container">
            <div class="social-links text-center">
                <a href="@Url.Content("https://instagram.com/"+ Model.Item2.Instagram)" class="instagram" target="_blank"><i class="fa fa-instagram"></i><span>instagram</span></a>
                <a href="@Url.Content("https://plus.google.com/"+ Model.Item2.Google_plus)" class="google-plus" target="_blank"><i class="fa fa-google-plus"></i><span>g+plus</span></a>
                <a href="@Url.Content("https://facebook.com/"+ Model.Item2.Facebook)" class="facebook" target="_blank"><i class="fa fa-facebook"></i><span>facebook</span></a>

            </div>

            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <p class="text-white text-center mt-5">
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> @Model.Item1.copyright <br /> <small>This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></small>
            </p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

        </div>
    </div>
</section>