@model MvcUI.Models.Entities.Settings
<header class="header-section">
    <div class="header-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 text-center text-lg-left" style="margin: -10px;">
                    <!-- logo -->
                    <a href="@Url.Content("~/")" class="site-logo">
                        <img src="@Url.Content("~/Contents/img/" + @Model.logo)" alt="" class="img-responsive" height="100">
                    </a>
                </div>

                <!-- Search -->
                @Html.Action("_Search", "Layout")


                <!-- Navbar -->
                @Html.Action("_TopRight", "Layout")
            </div>
        </div>
    </div>
    @Html.Action("_Navbar", "Layout")
</header>