@using System.Web.Optimization;
<!DOCTYPE html>
<html lang="zxx">
<head>
    @Html.Action("_Head", "Layout")
</head>
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header section -->
    @Html.Action("_Header", "Layout")
    <!-- Header section end -->

    @RenderBody()


    <!-- Footer section -->
    @Html.Action("_Footer", "Layout")
    <!-- Footer section end -->
    <!--====== Javascripts & Jquery ======-->
    @Scripts.Render("~/Js")

</body>
</html>
